* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.header{
    height: 80px;
}
.header .c .navbar-brand img{
    height: 5vh;
}

.but{
    margin-left: 60px;
}

.list{
    margin-left: 500px;
    gap: 15px;
}

.list li:hover{
    background: #eaeaea;
}

.list li {
    border-radius: 3px;
}
@media screen and (max-width: 430px){
    .list {
        margin-left: 0;
    }
    .btn-wr{
        margin-left: -100px;
    }
}